/* Criando uma variável para ser retutilizada */
:root {
  --vermelho: red;
  --preta: #141414;
  --branca: #ffff;
}

* {
  /* reset CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*O limite de tudo que está dentro é a borda da caixa */
}

/* ELEMENTOS BASE */
body {
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /*Organiza de maneira horizontal*/
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none; /*Removendo linhas abaixo dos links */
  color: #aaa;
  margin-right: 10px;
}

/* Mudando a cor da fonte ao passar o cursor do mouse sobre */
header nav a:hover {
  color: var(--branca);
}

/* FILME PRINCIPAL */
.filme-principal {
  margin-top: 15px;
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/akira_filme.jpg");

  height: content-box;
  background-size: cover; /* Deixa a imagem do tamanho da caixa de visualização*/

  display: flex;
  flex-direction: column; /* Organiza de maneira vertical*/
  justify-content: center; /* Centraliza o conteúdo*/
  align-items: flex-start; /* Alinha os itens a direita da tela */
}

.filme-principal .descricao {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
  text-align: justify;
}
.carrosel-filmes {
  margin-top: 15px;
  padding-top: 15px;
}

.titulo:hover {
  margin-left: 10px;
  transition: 0.3s ease all; /* Suaviza transição de cor */
}

.filme-principal .titulo {
  margin-top: 15%;
  color: red;
  font-family: "Arial Black";
  font-size: 40px;
}

.botoes {
  margin-bottom: 30px;
  justify-content: center;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  color: var(--branca);

  padding: 15px 30px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 12px;

  cursor: pointer; /* Exibe a mão com clique */
  transition: 0.3s ease all; /* Suaviza transição de cor */
}

.botao:hover {
  font-weight: bold;
  background-color: var(--branca);
  color: var(--preta);
  border: 1px solid darkred;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.item {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover {
  border: 5px solid darkred;
  border-radius: 10px;
}

.box-filme {
  width: 100%;
  height: 100%;
  background-position: center;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1.5s;
}

.box-filme:hover {
  transform: scale(1.2);
  opacity: 0.4;
}

.imageButton {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 10px;
  cursor: pointer;
}

.item:hover button {
  display: flex;
  transition: all 0.3s;
}

.imageButton i {
  margin-right: 8px;
}
