/* Criando uma variável para ser retutilizada */
:root {
  --vermelho: red;
  --preta: #141414;
  --branca: #ffff;
}

* {
  /* reset CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*O limite de tudo que está dentro é a borda da caixa */
}

/* ELEMENTOS BASE */
body {
  background: var(--preta);
  font-family: "Times New Roman", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /*Organiza de maneira horizontal*/
}

header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

.logo:hover {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: var(--branca);
}

header nav a {
  text-decoration: none; /*Removendo linhas abaixo dos links */
  color: #aaa;
  margin-right: 10px;
}

/* Mudando a cor da fonte ao passar o cursor do mouse sobre */
header nav a:hover {
  color: var(--branca);
}

/* FILME PRINCIPAL */
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/akira_filme.jpg");

  height: 400px;
  background-size: cover; /* Deixa a imagem do tamanho da caixa de visualização*/

  display: flex;
  flex-direction: column; /* Organiza de maneira vertical*/
  justify-content: center; /* Centraliza o conteúdo*/
  align-items: flex-start; /* Alinha os itens a direita da tela */
}

.titulo:hover {
  margin-left: 10px;
  transition: 0.3s ease all; /* Suaviza transição de cor */
}

.titulo {
  margin-top: 15px;
  color: red;
  font-family: "Arial Black";
  font-size: 40px;
}

.descricao {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 2px;
  color: var(--branca);

  padding: 10px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 12px;
}

.botao:hover {
  background-color: var(--branca);
  color: var(--preta);
  border: 1px solid darkred;
  cursor: pointer; /* Exibe a mão com clique */
  transition: 0.3s ease all; /* Suaviza transição de cor */
}

.botao i {
  margin-right: 8px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  opacity: 100%;
}

.item {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  overflow: hidden;
  position: relative;
}

.box-filme {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1.5s;
}

.box-filme:hover {
  transform: scale(1.2);
}
